## create a dataframe views with two columns: datetime and user

In [1]:
import pandas as pd
views = pd.read_csv('../data/feed-views.log',
                 names=['datetime', 'user'],
                 sep='\t')
views['datetime'] = pd.to_datetime(views['datetime'])
views.info()
views['year'] = views['datetime'].apply(lambda x: x.year)
views['month'] = views['datetime'].apply(lambda x: x.month)
views['day'] = views['datetime'].apply(lambda x: x.day)
views['hour'] = views['datetime'].apply(lambda x: x.hour)
views['minute'] = views['datetime'].apply(lambda x: x.minute)
views['second'] = views['datetime'].apply(lambda x: x.second)
views

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076 entries, 0 to 1075
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   user      1076 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 16.9+ KB

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

## create the new column daytime

## 0 – 3.59 night, 4 – 6.59 early morning, 7 – 10.59 morning, 11 – 16.59 afternoon, 17 – 19.59 early evening, 20 – 23.59 evening

In [2]:
bins = [-1, 3.99, 6.99, 10.99, 16.99, 19.99, 23.99] 
labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
views['daytime'] = pd.cut(views['hour'], bins=bins, labels=labels)
views.set_index('user', inplace=True)
views

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...
valentina,2020-05-21 18:45:20.441142,2020,5,21,18,45,20,early evening
maxim,2020-05-21 23:03:06.457819,2020,5,21,23,3,6,evening
pavel,2020-05-21 23:23:49.995349,2020,5,21,23,23,49,evening
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
artem,2020-05-22 10:36:14.662600,2020,5,22,10,36,14,morning

In [3]:
views.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1076 entries, artem to artem
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  1076 non-null   datetime64[ns]
 1   year      1076 non-null   int64
 2   month     1076 non-null   int64
 3   day       1076 non-null   int64
 4   hour      1076 non-null   int64
 5   minute    1076 non-null   int64
 6   second    1076 non-null   int64
 7   daytime   1076 non-null   category
dtypes: category(1), datetime64[ns](1), int64(6)
memory usage: 68.5+ KB

## calculate the number of elements in your dataframe

In [4]:
total_elements = views.count().sum()
print(f"Total number of elements: {total_elements}")
daytime_counts = views['daytime'].value_counts()
print("\nNumber of elements in each time of day category:")
daytime_counts

Total number of elements: 8608

Number of elements in each time of day category:

daytime
evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: count, dtype: int64

## sort values in the dataframe

In [5]:
views_sorted = views.sort_values(by=['hour', 'minute', 'second'])
views_sorted

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night
...,...,...,...,...,...,...,...,...
artem,2020-05-21 23:49:22.386789,2020,5,21,23,49,22,evening
anatoliy,2020-05-09 23:53:55.599821,2020,5,9,23,53,55,evening
pavel,2020-05-09 23:54:54.260791,2020,5,9,23,54,54,evening
valentina,2020-05-14 23:58:56.754866,2020,5,14,23,58,56,evening
alexander,2020-05-14 23:59:38.758438,2020,5,14,23,59,38,evening

## calculate min and max for hours and mode for the daytime categories

In [6]:
max_hour_night = views[views['daytime'] == 'night']['hour'].max()
min_hour_morning = views[views['daytime'] == 'morning']['hour'].min()
mode_hour = views['hour'].mode()[0]
mode_daytime = views['daytime'].mode()[0]
print(f"Maximum for night hours {max_hour_night};",f"Minimum for morning hours {min_hour_morning};",f"Mode for the daytime {mode_daytime};",f"Mode for the hour {mode_hour}")

Maximum for night hours 3; Minimum for morning hours 8; Mode for the daytime evening; Mode for the hour 22

## who visited the page at 3 and 8 am

In [7]:
views[views['hour']==max_hour_night]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-19 03:23:35.471598,2020,4,19,3,23,35,night
konstantin,2020-04-19 03:23:55.473926,2020,4,19,3,23,55,night
konstantin,2020-04-19 03:33:07.757714,2020,4,19,3,33,7,night

In [8]:
views[views['hour']==min_hour_morning]

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning

## 3 earliest/latest hours in the morning

In [9]:
morning_views = views[views['daytime'] == 'morning']
earliest_morning_hours = morning_views.nsmallest(3, 'hour')
earliest_morning_hours

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
alexander,2020-05-15 08:16:03.918402,2020,5,15,8,16,3,morning
alexander,2020-05-15 08:35:01.471463,2020,5,15,8,35,1,morning
artem,2020-04-24 09:42:47.598208,2020,4,24,9,42,47,morning

In [10]:
latest_morning_hours = morning_views.nlargest(3, 'hour')
latest_morning_hours

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
konstantin,2020-04-18 10:53:52.623447,2020,4,18,10,53,52,morning
maxim,2020-04-18 10:56:55.833899,2020,4,18,10,56,55,morning
konstantin,2020-04-18 10:57:37.331258,2020,4,18,10,57,37,morning

## the most popular interval for visiting the page

In [11]:
stats = views['hour'].describe()
stats

count    1076.000000
mean       16.249071
std         6.955490
min         0.000000
25%        13.000000
50%        19.000000
75%        22.000000
max        23.000000
Name: hour, dtype: float64

In [12]:
Q1 = stats['25%']
Q3 = stats['75%']
iqr = Q3 - Q1
print(f"Interquartile Range (IQR) for hour: {iqr}")

Interquartile Range (IQR) for hour: 9.0